# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.build/
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
.env
.env.*

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Byte-compiled / optimized / DLL files
*$py.class
